{
  "openapi": "3.1.0",
  "info": {
    "title": "Forge Robot Simulation Agent API",
    "version": "1.0.0",
    "description": "Simulation only. Paired live browser required. Existing mouse UI stays active."
  },
  "servers": [
    {
      "url": "https://model.zhiforge.org"
    },
    {
      "url": "http://127.0.0.1:5182"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/capabilities": {
      "get": {
        "operationId": "capabilities",
        "responses": {
          "200": {
            "description": "Complete command schemas and limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions": {
      "post": {
        "operationId": "createSession",
        "description": "Create an isolated one-hour session. Open browserUrl and click Allow Agent. Keep returned token secret.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "browserUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresAt": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Capacity reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}": {
      "delete": {
        "operationId": "closeSession",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Expired session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/state": {
      "get": {
        "operationId": "getState",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Last browser observation; inspect connected and observedAt. Null state until pairing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Expired session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/commands": {
      "post": {
        "operationId": "executeCommand",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ],
        "security": [
          {
            "sessionToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "pose.set"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "ll": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 180
                          },
                          "rl": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 180
                          },
                          "lf": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 180
                          },
                          "rf": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 180
                          }
                        },
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "colors.set"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "shell": {
                            "type": "string",
                            "pattern": "^#[0-9a-fA-F]{6}$"
                          },
                          "body": {
                            "type": "string",
                            "pattern": "^#[0-9a-fA-F]{6}$"
                          },
                          "limbs": {
                            "type": "string",
                            "pattern": "^#[0-9a-fA-F]{6}$"
                          }
                        },
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "params"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "model.set"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string",
                            "enum": [
                              "a",
                              "b"
                            ]
                          }
                        },
                        "required": [
                          "model"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "mount.set"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "shellHeight": {
                            "type": "number",
                            "minimum": 20,
                            "maximum": 100
                          },
                          "shellDepth": {
                            "type": "number",
                            "minimum": -60,
                            "maximum": 60
                          },
                          "shellYaw": {
                            "type": "number",
                            "minimum": -180,
                            "maximum": 180
                          },
                          "bodyDepth": {
                            "type": "number",
                            "minimum": -20,
                            "maximum": 20
                          },
                          "explode": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "assembly.view"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "inspect": {
                            "type": "string",
                            "enum": [
                              "assembly",
                              "shell",
                              "body",
                              "leg",
                              "foot",
                              "grip"
                            ]
                          },
                          "shell": {
                            "type": "boolean"
                          },
                          "body": {
                            "type": "boolean"
                          },
                          "screen": {
                            "type": "boolean"
                          },
                          "grip": {
                            "type": "boolean"
                          },
                          "axes": {
                            "type": "boolean"
                          },
                          "transparent": {
                            "type": "boolean"
                          }
                        },
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "view.set"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "view": {
                            "type": "string",
                            "enum": [
                              "front",
                              "side",
                              "back",
                              "fit"
                            ]
                          },
                          "rotate": {
                            "type": "boolean"
                          },
                          "wireframe": {
                            "type": "boolean"
                          }
                        },
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "params"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "motion.play"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "enum": [
                              "walk",
                              "turn",
                              "jump",
                              "swing",
                              "moonwalk",
                              "bend",
                              "shake",
                              "updown",
                              "tiptoe",
                              "jitter",
                              "ascending",
                              "crusaito",
                              "flapping"
                            ]
                          },
                          "period": {
                            "type": "number",
                            "minimum": 500,
                            "maximum": 1500,
                            "multipleOf": 10
                          },
                          "steps": {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 100,
                            "multipleOf": 1
                          },
                          "height": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 170,
                            "multipleOf": 1
                          },
                          "direction": {
                            "type": "number",
                            "enum": [
                              -1,
                              1
                            ]
                          },
                          "speed": {
                            "type": "number",
                            "minimum": 0.3,
                            "maximum": 2,
                            "multipleOf": 0.1
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "motion.pause"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {},
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "motion.home"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {},
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "params"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "screen.js"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100000
                          }
                        },
                        "required": [
                          "code"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type",
                      "params"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "screen.gif"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {
                          "face": {
                            "type": "string",
                            "enum": [
                              "neutral",
                              "happy",
                              "laughing",
                              "confused",
                              "sleepy",
                              "angry"
                            ]
                          }
                        },
                        "required": [
                          "face"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "screen.stop"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {},
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "snapshot"
                        ]
                      },
                      "params": {
                        "type": "object",
                        "properties": {},
                        "required": [],
                        "additionalProperties": false
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "202": {
            "description": "Queued, not yet applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid command",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "409": {
            "description": "Browser disconnected or idempotency conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "429": {
            "description": "Queue or rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sessions/{sessionId}/commands/{commandId}": {
      "get": {
        "operationId": "getCommandResult",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "security": [
          {
            "sessionToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "status: queued, dispatched, applied, failed, expired. Applied means command handled, not motion completed. Snapshot returns result.image data URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Missing or evicted result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Per-session agent token from createSession; never reuse browser pairing credential."
      }
    }
  }
}
